# Xcode
.DS_Store
xcuserdata/

# Swift
*.swiftpm
*.xcworkspace
xcshareddata/swiftpm
DerivedData/
.build/

# Firebase
GoogleService-Info.plist

# Miscellaneous
*.log
*.xcuserstate
*.xccheckout
*.xcscmblueprint
